@import './variables';



.bg-gray-surface{
    background: $gray_surface;
}

.bg-gray-elements{
    background: $gray_elements;
}

.text-gray-surface{
    color: $gray_surface;
}

.text-gray-elements{
    color: $gray_elements;
}

.bg-blur {
    backdrop-filter: blur(1.5px);
}