@import './variables';

.shadow-sidemenu {
    box-shadow: 
        4px 0px 5px 3px rgba(0, 0, 0, 0.1),
        2px 0px 3px 2px rgba(0, 0, 0, 0.06);
}

.shadow-controllbar {
    box-shadow: 
        0px 4px 5px 3px rgba(0, 0, 0, 0.1),
        0px 2px 3px 2px rgba(0, 0, 0, 0.06);
}

.bg-gray-surface{
    background: $gray_surface;
}

.bg-gray-elements{
    background: $gray_elements;
}

.text-gray-surface{
    color: $gray_surface;
}

.text-gray-elements{
    color: $gray_elements;
}

.bg-blur {
    backdrop-filter: blur(1.5px);
}