// initialize tailwindcss
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import './variables';
@import './landingpage';
@import './looper';
@import './record-button';
@import './track';
@import './knob';
@import './controll-bar';
@import './side-menu';


//general styles
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

// hide arrows in number input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// some easyloop classes
.bg-easyloops-blue {
    background: $easyloops_blue;
}

.text-easyloops-blue {
    color: $easyloops_blue;
}

.bg-easyloops-red {
    background: $easyloops_red;
}

.text-easyloops-red {
    color: $easyloops_red;
}

.h-fit-content {
    height: fit-content;
}

.h-14 {
    height: 3.5rem;
}

.w-14 {
    width: 3.5rem;
}